<div class="container">    
        <div class="card" ng-repeat="row in data">
            <div class="card-header" ng-if="$first">
                <h3>{{row.start_date}}</h3>
            </div>
            <div class="card-body matdet" style="border-bottom: 1px solid #eee;text-align: center;">        
                <ul ng-click="show=!show">
                    <li>
                        <h4>{{row.t1name}}</h4>
                    </li>
                    <!--Country 1-->
                    <li><img src="{{row.t1logo}}"
                            style="height: 50px;width:auto;"></li>
                    <!--Image 1 Same Style for everyone-->
                    <li>
                        <h4>{{row.t1score+"-"+row.t2score}}</h4>
                    </li>
                    <!--Score-->
                    <li><img src="{{row.t2logo}}"
                            style="height: 50px;width:auto;"></li>
                    <!--Image 1 Same Style for everyone-->
                    <li>
                        <h4>{{row.t2name}}</h4>
                        <!--Country 2-->
                    </li>
                </ul>
                <ul ng-if="show">                    
                    <li>    
                        <input type="text" placeholder="Enter name of player" ng-model="playername[$index]">
                    </li>
                    <li>
                        <input type="text" placeholder="Enter when he scored" ng-model="scoreTime[$index]">
                    </li>                    
                </ul>
                <ul ng-if="show">
                    <li>    
                        <input type="submit" value="Submit" ng-click="submit(row.mid,$index)">
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>