<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script>
        var loginApp=angular.module("login",[]);
        loginApp.controller("loginController",function($scope,$http){
            $scope.showCa=false;
            $scope.res=false;
            $scope.submit=function(createAcc){                
                if(createAcc){
                    console.log("Creating new account");
                    if($scope.cAPassword==$scope.cARepeatPassword){
                        $http({  
                            url:"php/insert.php",
                            method:"POST",
                            data:JSON.stringify({query:"INSERT INTO user(username,password) VALUES ('"+$scope.cAUsername+
                            "','"+$scope.cAPassword+"')",username:$scope.cAUsername})                            
                        }).then(function(response){
                            console.log(response.data);
                            //console.log(JSON.stringify(response));                            
                            var temp=JSON.parse(response.data);
                            if(temp){
                                console.log("Inserted");
                                $scope.res=true;   
                                window.location.assign("players.php");                             
                            }
                            else{
                                console.log("Err");
                                $scope.res=false;
                            }
                        });
                    }
                }
                else{
                    $http({
                        url:"php/validate.php",
                        method:"POST",
                        data:JSON.stringify({username:$scope.eAUsername,password:$scope.eAPassword})                         
                    }).then(function(response){   
                        var temp=JSON.parse(response.data);
                        if(temp){
                            //console.log(response.data);
                            $scope.res=true;                            
                            window.location.assign("players.php");                        
                        }
                        else{
                            $scope.res=false;
                        }
                        
                    });
                }
            }
        });
    </script>
    <style>
        body{
            text-align: center;
        }
        #login{            
            border-left:1px solid black;  
            text-align: center;                 
        }
        input,button{
            width:30%;
        }
    </style>  
</head>
<body>
    <div id="login" ng-app="login" ng-controller="loginController">
        <form ng-show="!showCa">    
            <input type="text" placeholder="Enter Your USERNAME" ng-model="eAUsername" required><br>
            <input type="password" placeholder="Enter Your Password" ng-model="eAPassword" required><br>
            <input type="submit" value="Submit" ng-click="submit(false)"><br>
            <button ng-click="showCa=true">Create New Account</button>
        </form>        
        <form ng-show="showCa">
            <input type="text" placeholder="Enter Your username" ng-model="cAUsername" required><br>
            <input type="password" placeholder="Enter Your Password" ng-model="cAPassword" required><br>
            <input type="password" placeholder="Repeat Your Password" ng-model="cARepeatPassword" required>
            <span ng-show="cAPassword!=cARepeatPassword" style="color:tomato"> 
                Please repeat your password
            </span><br>
            <input type="submit" value="Submit" ng-click="submit(true)"><br>
            <button ng-click="showCa=false">Use Existing Account</button>
        </form>
        <div ng-bind="res"></div>
    </div>    
</body>
</html>