.card-img-top{
    border-radius:0;
}
.border-gradient {
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-gold {
    border-image: linear-gradient(to bottom, #AFB673, #E5E9C4);
}

.team-logo-teams{
    position : absolute;
    transform: translate(50px, 100px);
}